<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextLevel | Breakfasts</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/src/Public/Styles/style.css">
    <link rel="shortcut icon" href="/src/Public/Static/Images/svg/S_Logo_Magenta.svg" type="image/svg">

</head>

<body id="breakfast__section">

    <nav class="home home__nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/advantages">Advantages</a>
            </li>
            <li>
                <a href="#footer">Contact us</a>
            </li>
            <li>
                <a href="/auth/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="/cart">
                    <img src="/src/Public/Static/Images/svg/S_Cart.svg">
                </a>
            </li>
        </ul>
        <div class="menu">
            <img src="/src/Public/Static/Images/svg/S_Menu.svg">
        </div>
    </nav>

    <section id="breakfasts">

        <div class="part1">

            <div class="container">
                <div>
                    <h3>NextLevel</h3>
                    <h1>BREAKFASTS</h1>
                    <p>
                        Learn new ways to have breakfast.<br>
                        <span>Maybe you’ll be surprised.</span>
                    </p>
                </div>

                <div class="flex">
                    <img src="/src/Public/Static/Images/svg/S_Learn.svg">
                    <h3>Explore and learn</h3>
                </div>
            </div>

        </div>

        </div>

        <div class="part2">

            <div class="broadcast">

                <div class="container">

                    <div class="flex">
                        <img src="/src/Public/Static/Images/png/checked.png">
                        <p>New breakfast added: Meryun waffel</p>
                    </div>

                </div>

            </div>

            <div class="content">

                <div class="container">

                    <div>

                        <a class="flex">
                            Scroll down to see more
                            <img src="/src/Public/Static/Images/svg/S_GoDown.svg">
                        </a>

                        <img class="img" src="/src/Public/Static/Products/Product1.jpg">

                        <p>7.50 £</p>
                    </div>

                </div>

            </div>

        </div>

    </section>


    <section id="queries">

        <div class="container">

            <h2>Products</h2>

            <div class="flex">

                <div class="part1">
                    <div>
                        <h4>Categories</h4>
                        <ul>
                            <li>
                                <p data-category="waffel">
                                    Waffel
                                </p>
                            </li>
                            <li>
                                <p data-category="pancakes">
                                    Pancakes
                                </p>
                            </li>
                            <li>
                                <p data-category="coffee">
                                    Coffee
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h4>Preferences</h4>
                        <ul>
                            <li>
                                <p data-category="date">
                                    Release date
                                </p>
                            </li>
                            <li>
                                <p data-category="rating">
                                    Rating
                                </p>
                            </li>
                            <li>
                                <p data-category="price">
                                    Price
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="part2">
                    <h2>
                        <span>NextLevel</span> presents a lot of different products
                        So we though to divided them in
                        categories, to facilitate the choice of your product.
                    </h2>
                </div>

            </div>

            <form action="/search" method="post">
                <div>
                    <img src="/src/Public/Static/Images/svg/S_Search.svg">
                    <input type="text" required name="breakfast" id="breakfast" placeholder="Search your breakfast..">
                </div>
                <button type="submit">Filter</button>
            </form>

    </section>

    <section id="products">

        <div class="container">

            <div class="category">

                <h1>Waffel</h1>

                <ul class="row">

                    <li>
                        <div>
                            <img class="product--image" src="/src/Public/Static/Products/Product1.jpg">
                        </div>
                        <h3>Meryun waffel</h3>
                        <p>
                            Dotato di mirtilli, fragole e cereali. Fondamentali perchè risultano essere un mix perfetto
                            tra
                            gusto e vitamine.
                        </p>
                        <a href="">
                            Add to shop
                            <img src="/src/Public/Static/Images/svg/S_Cart.svg">
                        </a>
                    </li>

                    <li>
                        <div>
                            <img class="product--image" src="/src/Public/Static/Products/Product2.jpg">
                        </div>
                        <h3>Meryun waffel</h3>
                        <p>
                            Dotato di mirtilli, fragole e cereali.
                            Fondamentali perchè risultano essere un mix perfetto tra
                            gusto e vitamine.
                        </p>
                        <a href="">
                            Add to shop
                            <img src="/src/Public/Static/Images/svg/S_Cart.svg">
                        </a>
                    </li>

                    <li>
                        <div>
                            <img class="product--image" src="/src/Public/Static/Products/Product3.jpg">
                        </div>
                        <h3>Meryun waffel</h3>
                        <p>
                            Dotato di mirtilli, fragole e cereali.
                            Fondamentali perchè risultano essere un
                            mix perfetto tra gusto e vitamine.
                        </p>
                        <a href="">
                            Add to shop
                            <img src="/src/Public/Static/Images/svg/S_Cart.svg">
                        </a>
                    </li>

                </ul>


                <ul class="row">

                    <li>
                        <div>
                            <img class="product--image" src="/src/Public/Static/Products/Product2.jpg">
                        </div>
                        <h3>Meryun waffel</h3>
                        <p>
                            Dotato di mirtilli, fragole e cereali.
                            Fondamentali perchè risultano essere un mix perfetto tra
                            gusto e vitamine.
                        </p>
                        <a href="">
                            Add to shop
                            <img src="/src/Public/Static/Images/svg/S_Cart.svg">
                        </a>
                    </li>

                    <li>
                        <div>
                            <img class="product--image" src="/src/Public/Static/Products/Product3.jpg">
                        </div>
                        <h3>Meryun waffel</h3>
                        <p>
                            Dotato di mirtilli, fragole e cereali.
                            Fondamentali perchè risultano essere un
                            mix perfetto tra gusto e vitamine.
                        </p>
                        <a href="">
                            Add to shop
                            <img src="/src/Public/Static/Images/svg/S_Cart.svg">
                        </a>
                    </li>

                    <li>
                        <div>
                            <img class="product--image" src="/src/Public/Static/Products/Product1.jpg">
                        </div>
                        <h3>Meryun waffel</h3>
                        <p>
                            Dotato di mirtilli, fragole e cereali. Fondamentali perchè risultano essere un mix perfetto
                            tra
                            gusto e vitamine.
                        </p>
                        <a href="">
                            Add to shop
                            <img src="/src/Public/Static/Images/svg/S_Cart.svg">
                        </a>
                    </li>

                </ul>


            </div>


            <div class="category">

                <h1>Pancakes</h1>

                <ul class="row">

                    <li>
                        <div>
                            <img class="product--image" src="/src/Public/Static/Products/Product1.jpg">
                        </div>
                        <h3>Meryun waffel</h3>
                        <p>
                            Dotato di mirtilli, fragole e cereali. Fondamentali perchè risultano essere un mix perfetto
                            tra
                            gusto e vitamine.
                        </p>
                        <a href="">
                            Add to shop
                            <img src="/src/Public/Static/Images/svg/S_Cart.svg">
                        </a>
                    </li>

                    <li>
                        <div>
                            <img class="product--image" src="/src/Public/Static/Products/Product2.jpg">
                        </div>
                        <h3>Meryun waffel</h3>
                        <p>
                            Dotato di mirtilli, fragole e cereali.
                            Fondamentali perchè risultano essere un mix perfetto tra
                            gusto e vitamine.
                        </p>
                        <a href="">
                            Add to shop
                            <img src="/src/Public/Static/Images/svg/S_Cart.svg">
                        </a>
                    </li>

                    <li>
                        <div>
                            <img class="product--image" src="/src/Public/Static/Products/Product3.jpg">
                        </div>
                        <h3>Meryun waffel</h3>
                        <p>
                            Dotato di mirtilli, fragole e cereali.
                            Fondamentali perchè risultano essere un
                            mix perfetto tra gusto e vitamine.
                        </p>
                        <a href="">
                            Add to shop
                            <img src="/src/Public/Static/Images/svg/S_Cart.svg">
                        </a>
                    </li>

                </ul>

                <ul class="row">

                    <li>
                        <div>
                            <img class="product--image" src="/src/Public/Static/Products/Product1.jpg">
                        </div>
                        <h3>Meryun waffel</h3>
                        <p>
                            Dotato di mirtilli, fragole e cereali. Fondamentali perchè risultano essere un mix perfetto
                            tra
                            gusto e vitamine.
                        </p>
                        <a href="">
                            Add to shop
                            <img src="/src/Public/Static/Images/svg/S_Cart.svg">
                        </a>
                    </li>

                    <li>
                        <div>
                            <img class="product--image" src="/src/Public/Static/Products/Product2.jpg">
                        </div>
                        <h3>Meryun waffel</h3>
                        <p>
                            Dotato di mirtilli, fragole e cereali.
                            Fondamentali perchè risultano essere un mix perfetto tra
                            gusto e vitamine.
                        </p>
                        <a href="">
                            Add to shop
                            <img src="/src/Public/Static/Images/svg/S_Cart.svg">
                        </a>
                    </li>

                    <li>
                        <div>
                            <img class="product--image" src="/src/Public/Static/Products/Product3.jpg">
                        </div>
                        <h3>Meryun waffel</h3>
                        <p>
                            Dotato di mirtilli, fragole e cereali.
                            Fondamentali perchè risultano essere un
                            mix perfetto tra gusto e vitamine.
                        </p>
                        <a href="">
                            Add to shop
                            <img src="/src/Public/Static/Images/svg/S_Cart.svg">
                        </a>
                    </li>

                </ul>

            </div>


            <div class="category">

                <h1>Coffee</h1>

                <ul class="row">

                    <li>
                        <div>
                            <img class="product--image" src="/src/Public/Static/Products/Product1.jpg">
                        </div>
                        <h3>Meryun waffel</h3>
                        <p>
                            Dotato di mirtilli, fragole e cereali. Fondamentali perchè risultano essere un mix perfetto
                            tra
                            gusto e vitamine.
                        </p>
                        <a href="">
                            Add to shop
                            <img src="/src/Public/Static/Images/svg/S_Cart.svg">
                        </a>
                    </li>

                    <li>
                        <div>
                            <img class="product--image" src="/src/Public/Static/Products/Product2.jpg">
                        </div>
                        <h3>Meryun waffel</h3>
                        <p>
                            Dotato di mirtilli, fragole e cereali.
                            Fondamentali perchè risultano essere un mix perfetto tra
                            gusto e vitamine.
                        </p>
                        <a href="">
                            Add to shop
                            <img src="/src/Public/Static/Images/svg/S_Cart.svg">
                        </a>
                    </li>

                    <li>
                        <div>
                            <img class="product--image" src="/src/Public/Static/Products/Product3.jpg">
                        </div>
                        <h3>Meryun waffel</h3>
                        <p>
                            Dotato di mirtilli, fragole e cereali.
                            Fondamentali perchè risultano essere un
                            mix perfetto tra gusto e vitamine.
                        </p>
                        <a href="">
                            Add to shop
                            <img src="/src/Public/Static/Images/svg/S_Cart.svg">
                        </a>
                    </li>

                </ul>

                <ul class="row">

                    <li>
                        <div>
                            <img class="product--image" src="/src/Public/Static/Products/Product1.jpg">
                        </div>
                        <h3>Meryun waffel</h3>
                        <p>
                            Dotato di mirtilli, fragole e cereali. Fondamentali perchè risultano essere un mix perfetto
                            tra
                            gusto e vitamine.
                        </p>
                        <a href="">
                            Add to shop
                            <img src="/src/Public/Static/Images/svg/S_Cart.svg">
                        </a>
                    </li>

                    <li>
                        <div>
                            <img class="product--image" src="/src/Public/Static/Products/Product2.jpg">
                        </div>
                        <h3>Meryun waffel</h3>
                        <p>
                            Dotato di mirtilli, fragole e cereali.
                            Fondamentali perchè risultano essere un mix perfetto tra
                            gusto e vitamine.
                        </p>
                        <a href="">
                            Add to shop
                            <img src="/src/Public/Static/Images/svg/S_Cart.svg">
                        </a>
                    </li>

                    <li>
                        <div>
                            <img class="product--image" src="/src/Public/Static/Products/Product3.jpg">
                        </div>
                        <h3>Meryun waffel</h3>
                        <p>
                            Dotato di mirtilli, fragole e cereali.
                            Fondamentali perchè risultano essere un
                            mix perfetto tra gusto e vitamine.
                        </p>
                        <a href="">
                            Add to shop
                            <img src="/src/Public/Static/Images/svg/S_Cart.svg">
                        </a>
                    </li>

                </ul>

            </div>

        </div>

    </section>

    <section id="footer">

        <div class="part1">
            <h1>NextLevel</h1>
            <ul>
                <li>
                    <h4>Socials</h4>
                    <a href="/">Instagram</a>
                    <a href="/">Facebook</a>
                    <a href="/">Phone number</a>
                </li>
                <li>
                    <h4>Policies</h4>
                    <a href="/">Privacy policy</a>
                    <a href="/">Cookies</a>
                    <a href="/">Cookie solution</a>
                </li>
                <li>
                    <h4>Other</h4>
                    <a href="/">Who we are</a>
                    <a href="/">Breakfasts</a>
                    <a href="/">Advantages</a>
                </li>
            </ul>
        </div>

        <div class="part2">
            <img class="logo" src="/src/Public/Static/Images/svg/S_Logo_White.svg">

            <div class="quad quad--1"></div>
            <div class="quad quad--2"></div>
            <div class="quad quad--3"></div>
            <div class="quad quad--4"></div>
        </div>

    </section>

    <script src="/src/Public/Scripts/navbar.functionality.js"></script>

</body>

</html>