<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextLevel | Homepage</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/src/Public/Styles/style.css">
    <link rel="stylesheet" href="/src/Public/Styles/glider.css">

    <link rel="shortcut icon" href="/src/Public/Static/Images/svg/S_Logo_Magenta.svg" type="image/svg">

</head>

<body id="home">

    <section id="home__landing">

        <nav class="home home__nav">
            <ul>
                <li>
                    <a href="/advantages">Advantages</a>
                </li>
                <li>
                    <a href="/breakfasts">Breakfasts</a>
                </li>
                <li>
                    <a href="#footer">Contact us</a>
                </li>
                <li>
                    <a href="/auth/dashboard">Dashboard</a>
                </li>
                <li>
                    <a href="/cart">
                        <img src="/src/Public/Static/Images/svg/S_Cart.svg">
                    </a>
                </li>
            </ul>
            <div class="menu">
                <img src="/src/Public/Static/Images/svg/S_Menu.svg">
            </div>
        </nav>

        <div class="col2 col2--container">

            <div class="flex flex--info">

                <img src="/src/Public/Static/Images/svg/S_Logo_Magenta.svg" class="logo">

                <div>
                    <p>Lang</p>
                    <img src="/src/Public/Static/Images/svg/S_Lang.svg">
                </div>

            </div>

            <div class="part1">

                <h1>NextLevel</h1>
                <p class="paragraph">Structuring breakfast is an important role. It’s an essential part of your life.
                </p>

                <div class="flex">
                    <img src="/src/Public/Static/Images/svg/S_Letus.svg">
                    <h3><span>Let us</span> do it for you</h3>
                </div>

                <a href="/breakfasts">
                    <div class="flex flex--button">
                        <p>Breakfasts</p>
                        <img src="/src/Public/Static/Images/svg/S_Breakfasts.svg">
                    </div>
                </a>

                <p class="sub-paragraph">Find your perfect breakfast</p>

            </div>

            <ul class="home__images">

                <li class="prod1">

                    <img src="/src/Public/Static/Products/Product1.jpg">

                    <div class="prod prod__info">
                        <div class="wrapper">
                            <h3>Meryun Waffel</h3>
                            <p>9.50 £</p>
                        </div>
                    </div>

                </li>

                <li class="prod2">

                    <img src="/src/Public/Static/Products/Product2.jpg">

                    <div class="prod prod__info">
                        <div class="wrapper">
                            <h3>Meryun Waffel</h3>
                            <p>9.50 £</p>
                        </div>
                    </div>

                </li>

                <li class="prod3">

                    <img src="/src/Public/Static/Products/Product3.jpg">

                    <div class="prod prod__info">
                        <div class="wrapper">
                            <h3>Meryun Waffel</h3>
                            <p>9.50 £</p>
                        </div>
                    </div>

                </li>

                <li class="header">

                    <div class="prod prod__info">
                        <div class="wrapper">
                            <h3>Meryun Waffel</h3>
                            <p>9.50 £</p>
                        </div>
                    </div>

                </li>

                <li class="broadcast">
                    <h3>Offers of the day</h3>
                    <h2>5 Pancakes + 1 in Gift</h2>
                </li>

            </ul>

        </div>

    </section>

    <section id="glider">

        <h2>We have been <span>helful</span> to</h2>

        <div class="wrapper">

            <div class="glider-contain">

                <div class="glider">

                    <div>
                        <img alt="Test" src="/src/Public/Static/Images/png/google.png">
                    </div>

                    <div>
                        <img alt="Test" src="/src/Public/Static/Images/png/lidl.png">
                    </div>

                    <div>
                        <img alt="Test" src="/src/Public/Static/Images/png/Safeway-logo.png">
                    </div>

                    <div>
                        <img alt="Test" src="/src/Public/Static/Images/png/Walmart-logo.png">
                    </div>

                    <div>
                        <img alt="Test" src="/src/Public/Static/Images/png/Tsunami-logo.png">
                    </div>

                    <div>
                        <img alt="Test" src="/src/Public/Static/Images/png/Under_armour-logo.png">
                    </div>

                </div>

                <button class="glider-prev">&laquo;</button>
                <button class="glider-next">&raquo;</button>

            </div>

        </div>

    </section>

    <section id="helping">

        <div class="part1">

            <div class="container">

                <h2>How we can be <span>helpful</span> to you ?</h2>
                <p class="assistance">In which way we could be of assistance ?</p>

                <p class="mainly">
                    If you want to simply see the showcase of our products,<br> you can click <span>right here</span>.
                </p>

                <div class="flex flex--1">
                    <img src="/src/Public/Static/Images/svg/S_ContactUs.svg">
                    <p>Or you can get in touch with us through<br> the button here below.</p>
                </div>

                <div class="flex flex--2">
                    <a href="/">Contact us</a>
                    <p>Call us at: +xx xxx-xxx-xxxx</p>
                </div>
            </div>
        </div>
        <div class="part2">

            <div class="wrapper">
                <a href="">
                    <img src="/src/Public/Static/Images/png/Twitter-Logo 1.png">
                </a>
                <a href="">
                    <img src="/src/Public/Static/Images/png/linkedin-logo 1.png">
                </a>
                <a href="">
                    <img src="/src/Public/Static/Images/png/Instagram_logo_2016 1.png">
                </a>
            </div>
        </div>

    </section>

    <section id="lovework">

        <div class="container">

            <div class="part1">
                <h2>Love your Work</h2>
                <p>A good and well structured breakfast can be the key of your day.</p>
                <div class="flex">
                    <a href="#">Advantages</a>
                    <img src="/src/Public/Static/Images/svg/coffee.svg">
                </div>
            </div>
            <div class="part2">

            </div>

        </div>

    </section>

    <section id="well">

        <div class="container">
            <div class="flex">
                <img src="/src/Public/Static/Images/svg/S_Idea.svg">
                <h2>Well Structured</h2>
            </div>
            <div class="flex">
                <img src="/src/Public/Static/Images/svg/S_Structured.svg">
                <h2>Well Thinked</h2>
            </div>
            <div class="flex">
                <img src="/src/Public/Static/Images/svg/S_Explained.svg">
                <h2>Well Explained</h2>
            </div>
        </div>

        <div class="img img--1">
            <img src="/src/Public/Static/Images/svg/S_Explained.svg">
        </div>

        <div class="img img--2">
            <img src="/src/Public/Static/Images/svg/S_Idea.svg">
        </div>

        <div class="img img--3">
            <img src="/src/Public/Static/Images/svg/S_Structured.svg">
        </div>

    </section>

    <section id="footer">

        <div class="part1">
            <h1>NextLevel</h1>
            <ul>
                <li>
                    <h4>Socials</h4>
                    <a href="/">Instagram</a>
                    <a href="/">Facebook</a>
                    <a href="/">Phone number</a>
                </li>
                <li>
                    <h4>Policies</h4>
                    <a href="/">Privacy policy</a>
                    <a href="/">Cookies</a>
                    <a href="/">Cookie solution</a>
                </li>
                <li>
                    <h4>Other</h4>
                    <a href="/">Who we are</a>
                    <a href="/">Breakfasts</a>
                    <a href="/">Advantages</a>
                </li>
            </ul>
        </div>

        <div class="part2">
            <img class="logo" src="/src/Public/Static/Images/svg/S_Logo_White.svg">

            <div class="quad quad--1"></div>
            <div class="quad quad--2"></div>
            <div class="quad quad--3"></div>
            <div class="quad quad--4"></div>

        </div>

    </section>

    <script src="/src/Public/Scripts/glider.min.js"></script>
    <script src="/src/Public/Scripts/glier.functionality.js"></script>
    <script src="/src/Public/Scripts/navbar.functionality.js"></script>

</body>

</html>