<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextLevel | Login</title>

    <meta name="keywords" content="NextLevel, pancakes, healthy, breakfast, eating, productive">
    <meta name="description" content="Structuring breakfast is an important role.
    It’s an essential part of your life. NextLevel help you in the right choice of breakfast.
    Let us do it for you !
    Understand the benefits of a tasty and healty breakfast is important.">
    <meta name="author" content="NextLevel">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/src/Public/Styles/style.css">
    <link rel="shortcut icon" href="/src/Public/Static/Images/svg/S_Logo_Magenta.svg" type="image/svg">

</head>

<body id="login">

    <nav class="header header__nav--right">

        <div class="menu">
            <img src="/src/Public/Static/Images/svg/S_Menu.svg">
        </div>

        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/advantages">Advantages</a>
            </li>
            <li>
                <a href="/breakfasts">Breakfasts</a>
            </li>
            <li>
                <a href="#footer">Contact us</a>
            </li>
            <li>
                <a href="/auth/dashboard">Dashboard</a>
            </li>
            <li class="no_hover">
                <a href="/cart">
                    <img src="/src/Public/Static/Images/svg/S_Cart.svg">
                </a>
            </li>
        </ul>

    </nav>
    <div class="open_menu">
        <img src="/src/Public/Static/Images/svg/S_Menu.svg">
    </div>

    <section id="background">

        <div class="form-container">

            <div class="error-popup">
                <div class="retry flex">
                    <p>Retry</p>
                    <img src="../Public/src/Public/Static/Images/svg/S_Check_B.svg">
                </div>
                <h3>
                    <span>Error 500</span>, there is an error with the server.
                </h3>
                <div class="apologize">
                    <h4><span>NextLevel team</span> apologize</h4>
                </div>
            </div>

            <form method="post" action="/auth/login">

                <div class="header flex">
                    <img src="/src/Public/Static/Images/svg/S_Logo_Magenta.svg">
                    <h1>NextLevel</h1>
                </div>

                <p>Login to access the Dashboard</p>

                <div class="relative">
                    <div class="input-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="input-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password">
                    </div>
                </div>

                <button type="submit">
                    Submit
                    <img src="/src/Public/Static/Images/svg/S_Arrow_D_G.svg">
                </button>

            </form>

        </div>

        <div class="first-div">

        </div>

        <div class="second-div">

        </div>

        <div class="third-div">

        </div>

    </section>

    <script src="/src/Public/Scripts/sidebar.functionality.js"></script>

</body>

</html>